
@import "style10.scss";



.works_container{
	min-height:100%;
	width:100%; 
}
#works_studycopter_book_container{
	color:$studycopter_book_color;
}
#works_goqii_container{
	color:$goqii_color;
}
#works_mycarapp_container{
	color:$mycarapp_color;
}

#works_studycopter_container{
	color:$studycopter_color;
}
.works_cover_container{
position:relative;
width:100%;
height:340px;
}
.works_content_container{
margin:58px 0px 72px 0px;
width:84%;
margin-left:8%;
}
.works_content_title{
font-family:'FuturaPTHeavy';
font-size:40px;
color:inherit;
}
.works_content_text{
font-family:"LeituraNews";
font-style:normal;
font-weight:300;
font-size:21.9px;
line-height:38px;
margin-top:8px;
color:rgba(0,0,0,.8);
}
#works_cover_1{
	background-image:url('sureshot_larger.jpg');
	background-size: cover;
}
.works_overlay_title{
	margin-top:8%;
	width:100%;
	font-family:'FuturaPTLight';
	font-size:84px;
	color:#fff;
	text-align:center;
}
.works_overlay_desc{
	font-family:'FuturaPTLight';
	font-size:32.3px;
	color:#fff;
	margin-top:18px;
	width:100%;
	text-align:center;
}
.works_details_container{
position:relative;
margin-top:42px;
width:84%;
margin-left:8%;
}
.works_details_single{
	width:44%;
	float:left;
	position:relative;

}
.works_details_single:nth-child(2), .works_details_single:nth-child(3){
	margin-left:2.5%;
}
.works_details_title{
	font-family:'FuturaPTBook';
	color:rgba(0,0,0,.8);
	font-size:32.1px;
}
.works_details_left{

}

.works_details_content{
	position:relative;
	margin-top:9px;

font-family:'LeituraNews';
font-size:20.1px;
line-height:32px;
	color:#000;
}
.works_content_title{
	margin-top:54px;
}

.works_bottom_container{

width:100%;
}
.bottom_single_container{
	position:relative;
width:50%;
float:left;
height:440px;
background-size:cover;
}
.bottom_single_container .overlay{
height:100%;
width:100%;
}


#works_cover_1 .overlay{
	background: $studycopter_book_overlay_color;
}
#works_cover_2 .overlay{
	background: $goqii_overlay_color;
}
#works_cover_3 .overlay{
	background: $mycarapp_overlay_color;
}
#works_cover_4 .overlay{
	background: $studycopter_overlay_color;
}

.bottom_single_container .overlay .work_section_title{
	margin-top:21%;
}
#bottom_single_goqii{
	background-image:url('goqii_illustration.jpg');
}
#bottom_single_studycopter_book{
	background-image:url('sureshot_larger.jpg');
}
#bottom_single_mycarapp{
	background-image:url('mycarapp_cover.jpg.png');
}
#bottom_single_studycopter{
	background-image:url('studycopter_cover.png');
}


#bottom_single_other{
	background:rgb(243,243,243);

}
#bottom_single_other .overlay{
	background:transparent;
}
#bottom_single_other .work_section_title, #bottom_single_other .work_section_desc{
	color:rgba(0,0,0,.8);
}

.works_cover_container{
	background-size:cover;
	background-position:0px -500px;
}
.works_cover_container .overlay{
	background:rgba(0,0,0,.2);
}
#works_cover_1{
	background-image:url('sureshot_larger.jpg');
	}
#works_cover_2{
    background-image:url('goqii_illustration.jpg');
}
#works_cover_3{
	background-image:url('mycarapp_cover.jpg.png');
}
#works_cover_4{
	background-image:url('studycopter_cover.png');
}


#works_cover_3{
	background-position:0px -100px;
}
#works_cover_4{
	background-position: 0px -300px;
}

.home_button{
	height:56px;
	width:56px;
	border-radius:50%;
	background:#5129C8;
	position:fixed;
	top:7%;
	left:4.8%;
	z-index:1000;

}
.home_button img{
	padding:11px 10px;
}
.title_seperator{
	height:4px;
	width:56px;
	margin:6px 0px 22px 0px;
	background:#000;
}

.screens_container img{
	margin-left:24px;
	height:640px;
	width:360px; 
}
.screens_container img:nth-child(1){
	margin-left:0px;
}